## Data Transformation with PySpark

In [147]:
SRC = "/home/labuser/Downloads/Pandas_datasets/IMDB-Movie-Data.csv"

In [148]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("TestApp").getOrCreate()

In [149]:
sc=spark.sparkContext

In [150]:
Df = spark.read.option("inferSchema",True).option("header",True).csv(SRC)

In [151]:
Df.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Title: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Director: string (nullable = true)
 |-- Actors: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Runtime (Minutes): string (nullable = true)
 |-- Rating: string (nullable = true)
 |-- Votes: string (nullable = true)
 |-- Revenue (Millions): double (nullable = true)
 |-- Metascore: double (nullable = true)

In [152]:
Df.dtypes

[('Rank', 'int'),
 ('Title', 'string'),
 ('Genre', 'string'),
 ('Description', 'string'),
 ('Director', 'string'),
 ('Actors', 'string'),
 ('Year', 'string'),
 ('Runtime (Minutes)', 'string'),
 ('Rating', 'string'),
 ('Votes', 'string'),
 ('Revenue (Millions)', 'double'),
 ('Metascore', 'double')]

In [153]:
Df.show()

+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+
|Rank|               Title|               Genre|         Description|            Director|              Actors|                Year|Runtime (Minutes)|Rating| Votes|Revenue (Millions)|Metascore|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+
|   1|Guardians of the ...|Action,Adventure,...|A group of interg...|          James Gunn|Chris Pratt, Vin ...|                2014|              121|   8.1|757074|            333.13|     76.0|
|   2|          Prometheus|Adventure,Mystery...|Following clues t...|        Ridley Scott|Noomi Rapace, Log...|                2012|              124|     7|485820|            126.46|     65.0|
|   3|               Split|     Horror,Thriller|Three girls are k...|  M. Night Shyamalan|James McAvoy, Any...|                2016|              117|   7.3|157606|            138.12|     62.0|
|   4|                Sing|Animation,Comedy,...|In a city of huma...|Christophe Lourdelet|Matthew McConaugh...|                2016|              108|   7.2| 60545|            270.32|     59.0|
|   5|       Suicide Squad|Action,Adventure,...|A secret governme...|          David Ayer|Will Smith, Jared...|                2016|              123|   6.2|393727|            325.02|     40.0|
|   6|      The Great Wall|Action,Adventure,...|European mercenar...|         Yimou Zhang|Matt Damon, Tian ...|                2016|              103|   6.1| 56036|             45.13|     42.0|
|   7|          La La Land|  Comedy,Drama,Music|A jazz pianist fa...|     Damien Chazelle|Ryan Gosling, Emm...|                2016|              128|   8.3|258682|            151.06|     93.0|
|   8|            Mindhorn|              Comedy|"A has-been actor...| whom he believes...|          Sean Foley|Essie Davis, Andr...|             2016|    89|   6.4|            2490.0|     null|
|   9|  The Lost City of Z|Action,Adventure,...|A true-life drama...|          James Gray|Charlie Hunnam, R...|                2016|              141|   7.1|  7188|              8.01|     78.0|
|  10|          Passengers|Adventure,Drama,R...|A spacecraft trav...|       Morten Tyldum|Jennifer Lawrence...|                2016|              116|     7|192177|            100.01|     41.0|
|  11|Fantastic Beasts ...|Adventure,Family,...|The adventures of...|         David Yates|Eddie Redmayne, K...|                2016|              133|   7.5|232072|            234.02|     66.0|
|  12|      Hidden Figures|Biography,Drama,H...|The story of a te...|      Theodore Melfi|Taraji P. Henson,...|                2016|              127|   7.8| 93103|            169.27|     74.0|
|  13|           Rogue One|Action,Adventure,...|The Rebel Allianc...|      Gareth Edwards|Felicity Jones, D...|                2016|              133|   7.9|323118|            532.17|     65.0|
|  14|               Moana|Animation,Adventu...|In Ancient Polyne...|        Ron Clements|Auli'i Cravalho, ...|                2016|              107|   7.7|118151|            248.75|     81.0|
|  15|            Colossal| Action,Comedy,Drama|Gloria is an out-...|     Nacho Vigalondo|Anne Hathaway, Ja...|                2016|              109|   6.4|  8612|              2.87|     70.0|
|  16|The Secret Life o...|Animation,Adventu...|The quiet life of...|        Chris Renaud|Louis C.K., Eric ...|                2016|               87|   6.6|120259|            368.31|     61.0|
|  17|       Hacksaw Ridge|Biography,Drama,H...|WWII American Arm...|          Mel Gibson|Andrew Garfield, ...|                2016|              139|   8.2|211760|             67.12|     71.0|
|  18|        Jason Bourne|     Action,Thriller|The CIA's most da...|     Paul Greengrass|Matt Damon, Tommy...|                2016|              123|   6.7|150823|            162.16|     58.0|
|  19|                Lion|     Biography,Drama|A five-year-old I...|         Garth Davis|Dev Patel, Nicole...|                2016|              118|   8.1|102061|             51.69|     69.0|
|  20|             Arrival|Drama,Mystery,Sci-Fi|When twelve myste...|    Denis Villeneuve|Amy Adams, Jeremy...|                2016|              116|     8|340798|             100.5|     81.0|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------+------------------+---------+
only showing top 20 rows

In [154]:
Df.rdd.getNumPartitions()

1

### Creating a Custom Partition

In [155]:
Df = Df.repartition(8)

In [156]:
Df.rdd.getNumPartitions()

8

In [157]:
for item in Df.schema:
    print(item)

StructField('Rank', IntegerType(), True)
StructField('Title', StringType(), True)
StructField('Genre', StringType(), True)
StructField('Description', StringType(), True)
StructField('Director', StringType(), True)
StructField('Actors', StringType(), True)
StructField('Year', StringType(), True)
StructField('Runtime (Minutes)', StringType(), True)
StructField('Rating', StringType(), True)
StructField('Votes', StringType(), True)
StructField('Revenue (Millions)', DoubleType(), True)
StructField('Metascore', DoubleType(), True)

### Accessing Web URL of Spark

In [158]:
print(sc.uiWebUrl)

http://ip-172-31-5-77.ap-south-1.compute.internal:4040

In [159]:
print(spark._sc.uiWebUrl)

http://ip-172-31-5-77.ap-south-1.compute.internal:4040

## Writing the SQL code

In [160]:
Df.createOrReplaceTempView("movie")

### Accessing the data from the table

In [161]:
SQL = "SELECT * FROM movie"
newDf = spark.sql(SQL)

In [162]:
newDf.show()

+----+--------------------+--------------------+--------------------+--------------------+--------------------+----+-----------------+------+------+------------------+---------+
|Rank|               Title|               Genre|         Description|            Director|              Actors|Year|Runtime (Minutes)|Rating| Votes|Revenue (Millions)|Metascore|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+----+-----------------+------+------+------------------+---------+
| 427|Sin City: A Dame ...|Action,Crime,Thri...|Some of Sin City'...|        Frank Miller|Mickey Rourke, Je...|2014|              102|   6.5|122185|             13.75|     46.0|
| 672|            Child 44|Crime,Drama,Thriller|A disgraced membe...|     Daniel Espinosa|Tom Hardy, Gary O...|2015|              137|   6.5| 47703|              1.21|     41.0|
| 782|           Self/less|Action,Mystery,Sc...|A dying real esta...|        Tarsem Singh|Ryan Reynolds, Na...|2015|              117|   6.5| 67196|             12.28|     34.0|
| 395|         Grown Ups 2|              Comedy|After moving his ...|        Dennis Dugan|Adam Sandler, Kev...|2013|              101|   5.4|114482|            133.67|     19.0|
| 495|      Under the Skin| Drama,Horror,Sci-Fi|A mysterious youn...|     Jonathan Glazer|Scarlett Johansso...|2013|              108|   6.3| 94707|              2.61|     78.0|
| 474|Harry Potter and ...|Adventure,Family,...|"As Harry Potter ...|         David Yates|Daniel Radcliffe,...|2009|              153|   7.5|351059|            301.96|     78.0|
|  97|       Kimi no na wa|Animation,Drama,F...|Two strangers fin...|      Makoto Shinkai|Ryûnosuke Kamiki,...|2016|              106|   8.6| 34110|              4.68|     79.0|
| 768|Indiana Jones and...|Action,Adventure,...|"Famed archaeolog...|    Steven Spielberg|Harrison Ford, Ca...|2008|              122|   6.2|351361|            317.01|     65.0|
| 665|            L'avenir|               Drama|A philosophy teac...|     Mia Hansen-Løve|Isabelle Huppert,...|2016|              102|   7.1|  5796|              0.28|     88.0|
| 772|      The Assignment|Action,Crime,Thri...|After waking up a...|         Walter Hill|Sigourney Weaver,...|2016|               95|   4.5|  2043|              null|     34.0|
| 634|    Megan Is Missing|Drama,Horror,Thri...|Two teenage girls...|         Michael Goi|Amber Perkins, Ra...|2011|               85|   4.9|  6683|              null|     94.0|
| 258|Rise of the Plane...| Action,Drama,Sci-Fi|A substance, desi...|        Rupert Wyatt|James Franco, And...|2011|              105|   7.6|422290|            176.74|     68.0|
| 603|He's Just Not Tha...|Comedy,Drama,Romance|The Baltimore-set...|          Ken Kwapis|Jennifer Aniston,...|2009|              129|   6.4|137684|              null|     47.0|
| 989|             Martyrs|              Horror|A young woman's q...|      Pascal Laugier|Morjana Alaoui, M...|2008|               99|   7.1| 63785|              null|     89.0|
| 581|Kickboxer: Vengeance|              Action|A kick boxer is o...|      John Stockwell|Dave Bautista, Al...|2016|               90|   4.9|  6809|            131.56|     37.0|
| 137|No Country for Ol...|Crime,Drama,Thriller|Violence and mayh...|          Ethan Coen|Tommy Lee Jones, ...|2007|              122|   8.1|660286|             74.27|     91.0|
| 609|               Mommy|               Drama|A widowed single ...|        Xavier Dolan|Anne Dorval, Anto...|2014|              139|   8.1| 33560|              3.49|     74.0|
| 649|     Sleeping Beauty|       Drama,Romance|A haunting portra...|         Julia Leigh|Emily Browning, R...|2011|              101|   5.3| 27006|              0.03|     null|
| 445|        The Thinning|            Thriller|"""The Thinning""...|Michael J. Gallagher|Logan Paul, Peyto...|2016|               81|     6|  4531|              null|     31.0|
| 164|Jack Reacher: Nev...|Action,Adventure,...|Jack Reacher must...|        Edward Zwick|Tom Cruise, Cobie...|2016|              118|   6.1| 78043|              58.4|     47.0|
+----+--------------------+--------------------+--------------------+--------------------+--------------------+----+-----------------+------+------+------------------+---------+
only showing top 20 rows

In [163]:
WHERE = "SELECT * FROM movie WHERE RANK = 6"
whereDf = spark.sql(WHERE)
whereDf.show()

+----+--------------+--------------------+--------------------+-----------+--------------------+----+-----------------+------+-----+------------------+---------+
|Rank|         Title|               Genre|         Description|   Director|              Actors|Year|Runtime (Minutes)|Rating|Votes|Revenue (Millions)|Metascore|
+----+--------------+--------------------+--------------------+-----------+--------------------+----+-----------------+------+-----+------------------+---------+
|   6|The Great Wall|Action,Adventure,...|European mercenar...|Yimou Zhang|Matt Damon, Tian ...|2016|              103|   6.1|56036|             45.13|     42.0|
+----+--------------+--------------------+--------------------+-----------+--------------------+----+-----------------+------+-----+------------------+---------+

### Transformation of Data

In [164]:
import pyspark.sql.functions as fn

In [165]:
print(Df.dtypes)

[('Rank', 'int'), ('Title', 'string'), ('Genre', 'string'), ('Description', 'string'), ('Director', 'string'), ('Actors', 'string'), ('Year', 'string'), ('Runtime (Minutes)', 'string'), ('Rating', 'string'), ('Votes', 'string'), ('Revenue (Millions)', 'double'), ('Metascore', 'double')]

In [166]:
testDf = Df.sort(fn.col('Title')).select('Rank','Title','Director')

In [167]:
testDf.groupBy('Director').count().show()

+------------------+-----+
|          Director|count|
+------------------+-----+
|    Chan-wook Park|    1|
|George Tillman Jr.|    3|
|   Terrence Malick|    2|
|   Louis Leterrier|    4|
|  Jeremy Gillespie|    1|
|        Tim Burton|    4|
|        Sam Mendes|    3|
|    Matthew Vaughn|    4|
|     Glenn Ficarra|    3|
|         Billy Ray|    1|
|     James Mangold|    1|
|    Mike Birbiglia|    1|
| David F. Sandberg|    1|
|Paul W.S. Anderson|    6|
|      Jeff Nichols|    2|
|   Stephen Sommers|    1|
|  Steven Shainberg|    1|
|       Ben Stiller|    3|
|   François Simard|    1|
|Sam Taylor-Johnson|    1|
+------------------+-----+
only showing top 20 rows

In [168]:
testDf.show()

+----+--------------------+--------------------+
|Rank|               Title|            Director|
+----+--------------------+--------------------+
| 508|(500) Days of Summer|           Marc Webb|
| 119| 10 Cloverfield Lane|    Dan Trachtenberg|
| 697|            10 Years|        Jamie Linden|
| 112|    12 Years a Slave|       Steve McQueen|
| 818|           127 Hours|         Danny Boyle|
| 169|            13 Hours|         Michael Bay|
| 805|                1408|     Mikael Håfström|
| 923|            17 Again|         Burr Steers|
| 473|                2012|     Roland Emmerich|
| 248|  20th Century Women|          Mike Mills|
| 851|                  21|      Robert Luketic|
| 273|      21 Jump Street|           Phil Lord|
| 277|      22 Jump Street|           Phil Lord|
| 617|2307: Winter's Dream|         Joey Curtis|
| 876|      28 Weeks Later|Juan Carlos Fresn...|
| 959|      3 Days to Kill|                 McG|
| 431|            3 Idiots|     Rajkumar Hirani|
| 114|                 300|         Zack Snyder|
| 424|300: Rise of an E...|          Noam Murro|
| 777|                  31|          Rob Zombie|
+----+--------------------+--------------------+
only showing top 20 rows

In [169]:
from datetime import datetime as dt
testDf = testDf.withColumn('last_updated',fn.lit(str(dt.now())))

In [170]:
testDf.show()

+----+--------------------+--------------------+--------------------+
|Rank|               Title|            Director|        last_updated|
+----+--------------------+--------------------+--------------------+
| 508|(500) Days of Summer|           Marc Webb|2023-09-22 08:04:...|
| 119| 10 Cloverfield Lane|    Dan Trachtenberg|2023-09-22 08:04:...|
| 697|            10 Years|        Jamie Linden|2023-09-22 08:04:...|
| 112|    12 Years a Slave|       Steve McQueen|2023-09-22 08:04:...|
| 818|           127 Hours|         Danny Boyle|2023-09-22 08:04:...|
| 169|            13 Hours|         Michael Bay|2023-09-22 08:04:...|
| 805|                1408|     Mikael Håfström|2023-09-22 08:04:...|
| 923|            17 Again|         Burr Steers|2023-09-22 08:04:...|
| 473|                2012|     Roland Emmerich|2023-09-22 08:04:...|
| 248|  20th Century Women|          Mike Mills|2023-09-22 08:04:...|
| 851|                  21|      Robert Luketic|2023-09-22 08:04:...|
| 273|      21 Jump Street|           Phil Lord|2023-09-22 08:04:...|
| 277|      22 Jump Street|           Phil Lord|2023-09-22 08:04:...|
| 617|2307: Winter's Dream|         Joey Curtis|2023-09-22 08:04:...|
| 876|      28 Weeks Later|Juan Carlos Fresn...|2023-09-22 08:04:...|
| 959|      3 Days to Kill|                 McG|2023-09-22 08:04:...|
| 431|            3 Idiots|     Rajkumar Hirani|2023-09-22 08:04:...|
| 114|                 300|         Zack Snyder|2023-09-22 08:04:...|
| 424|300: Rise of an E...|          Noam Murro|2023-09-22 08:04:...|
| 777|                  31|          Rob Zombie|2023-09-22 08:04:...|
+----+--------------------+--------------------+--------------------+
only showing top 20 rows

### Select with expression

In [171]:
EXPRESSION = "CAST(last_updated AS DATE) AS test"
testDf = testDf.selectExpr(EXPRESSION,'Title')

In [172]:
testDf.show()

+----------+--------------------+
|      test|               Title|
+----------+--------------------+
|2023-09-22|(500) Days of Summer|
|2023-09-22| 10 Cloverfield Lane|
|2023-09-22|            10 Years|
|2023-09-22|    12 Years a Slave|
|2023-09-22|           127 Hours|
|2023-09-22|            13 Hours|
|2023-09-22|                1408|
|2023-09-22|            17 Again|
|2023-09-22|                2012|
|2023-09-22|  20th Century Women|
|2023-09-22|                  21|
|2023-09-22|      21 Jump Street|
|2023-09-22|      22 Jump Street|
|2023-09-22|2307: Winter's Dream|
|2023-09-22|      28 Weeks Later|
|2023-09-22|      3 Days to Kill|
|2023-09-22|            3 Idiots|
|2023-09-22|                 300|
|2023-09-22|300: Rise of an E...|
|2023-09-22|                  31|
+----------+--------------------+
only showing top 20 rows

### Alias

In [173]:
testDf = testDf.select(fn.col("Title").alias("Movie"))

### Handling the null values

In [174]:
dir(testDf)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_collect_as_arrow',
 '_jcols',
 '_jdf',
 '_jmap',
 '_joinAsOf',
 '_jseq',
 '_lazy_rdd',
 '_repr_html_',
 '_sc',
 '_schema',
 '_session',
 '_sort_cols',
 '_sql_ctx',
 '_support_repr_html',
 '_to_corrected_pandas_type',
 'agg',
 'alias',
 'approxQuantile',
 'cache',
 'checkpoint',
 'coalesce',
 'colRegex',
 'collect',
 'columns',
 'corr',
 'count',
 'cov',
 'createGlobalTempView',
 'createOrReplaceGlobalTempView',
 'createOrReplaceTempView',
 'createTempView',
 'crossJoin',
 'crosstab',
 'cube',
 'describe',
 'distinct',
 'drop',
 'dropDuplicates',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'exceptAll',
 'explain',
 'fillna',
 'filter',
 'first',
 'foreach',
 'foreachPartition',
 'freqItems',
 'groupBy',
 'groupby',
 'head',
 'hint',
 'inputFiles',
 'intersect',
 'intersectAll',
 'isEmpty',
 'isLocal',
 'isStreaming',
 'is_cached',
 'join',
 'limit',
 'localCheckpoint',
 'mapInArrow',
 'mapInPandas',
 'melt',
 'na',
 'observe',
 'orderBy',
 'pandas_api',
 'persist',
 'printSchema',
 'randomSplit',
 'rdd',
 'registerTempTable',
 'repartition',
 'repartitionByRange',
 'replace',
 'rollup',
 'sameSemantics',
 'sample',
 'sampleBy',
 'schema',
 'select',
 'selectExpr',
 'semanticHash',
 'show',
 'sort',
 'sortWithinPartitions',
 'sparkSession',
 'sql_ctx',
 'stat',
 'storageLevel',
 'subtract',
 'summary',
 'tail',
 'take',
 'to',
 'toDF',
 'toJSON',
 'toLocalIterator',
 'toPandas',
 'to_koalas',
 'to_pandas_on_spark',
 'transform',
 'union',
 'unionAll',
 'unionByName',
 'unpersist',
 'unpivot',
 'where',
 'withColumn',
 'withColumnRenamed',
 'withColumns',
 'withColumnsRenamed',
 'withMetadata',
 'withWatermark',
 'write',
 'writeStream',
 'writeTo']

In [175]:
testDf.count()

1000

In [176]:
testDf = testDf.dropDuplicates(['Movie'])

In [177]:
Df.columns

['Rank',
 'Title',
 'Genre',
 'Description',
 'Director',
 'Actors',
 'Year',
 'Runtime (Minutes)',
 'Rating',
 'Votes',
 'Revenue (Millions)',
 'Metascore']

### Dropping the Unwanted Column

In [178]:
df = Df.drop("Genre")

### Conditional in PySpark
    - if --> when
    - else --> otherwise

In [179]:
from pyspark.sql.functions import *

In [144]:
df = df.withColumn("Rating_Value",when(col('Rating')< 8,"Good")
                   .when(col('Rating')< 5,"Average")
                   .otherwise("Best"))

In [145]:
df = df.select('Rating_value')

In [180]:
df.show()

+----+--------------------+--------------------+----------------+--------------------+----+-----------------+------+------+------------------+---------+
|Rank|               Title|         Description|        Director|              Actors|Year|Runtime (Minutes)|Rating| Votes|Revenue (Millions)|Metascore|
+----+--------------------+--------------------+----------------+--------------------+----+-----------------+------+------+------------------+---------+
| 105|The Man from U.N....|In the early 1960...|     Guy Ritchie|Henry Cavill, Arm...|2015|              116|   7.3|202973|             45.43|     56.0|
| 492|     The Book of Eli|A post-apocalypti...|   Albert Hughes|Denzel Washington...|2010|              118|   6.9|241359|             94.82|     53.0|
| 884|                 Rio|When Blu, a domes...| Carlos Saldanha|Jesse Eisenberg, ...|2011|               96|   6.9|173919|            143.62|     63.0|
| 479|      Paint It Black|A young woman att...|   Amber Tamblyn|Alia Shawkat, Nan...|2016|               96|   8.3|    61|              null|     71.0|
| 650|     Vampire Academy|Rose Hathaway is ...|     Mark Waters|Zoey Deutch, Lucy...|2014|              104|   5.6| 44111|              7.79|     30.0|
| 546|    Midnight Special|A father and son ...|    Jeff Nichols|Michael Shannon, ...|2016|              112|   6.7| 54787|              3.71|     76.0|
| 305|She's Out of My L...|An average Joe me...| Jim Field Smith|Jay Baruchel, Ali...|2010|              104|   6.4|105619|             31.58|     46.0|
| 964|I Spit on Your Grave|A writer who is b...|Steven R. Monroe|Sarah Butler, Jef...|2010|              108|   6.3| 60133|              0.09|     27.0|
| 686|   The King's Speech|The story of King...|      Tom Hooper|Colin Firth, Geof...|2010|              118|     8|534388|             138.8|     88.0|
| 358|The Theory of Eve...|A look at the rel...|     James Marsh|Eddie Redmayne, F...|2014|              123|   7.7|299718|             35.89|     72.0|
|  91|           Prisoners|When Keller Dover...|Denis Villeneuve|Hugh Jackman, Jak...|2013|              153|   8.1|431185|             60.96|     74.0|
|   2|          Prometheus|Following clues t...|    Ridley Scott|Noomi Rapace, Log...|2012|              124|     7|485820|            126.46|     65.0|
| 114|                 300|King Leonidas of ...|     Zack Snyder|Gerard Butler, Le...|2006|              117|   7.7|637104|            210.59|     52.0|
| 137|No Country for Ol...|Violence and mayh...|      Ethan Coen|Tommy Lee Jones, ...|2007|              122|   8.1|660286|             74.27|     91.0|
| 622|Underworld Awakening|When human forces...|    Måns Mårlind|Kate Beckinsale, ...|2012|               88|   6.4|127157|             62.32|     39.0|
| 633|            The Host|A monster emerges...|    Bong Joon Ho|Kang-ho Song, Hee...|2006|              120|     7| 73491|               2.2|     85.0|
| 700|    The Matchbreaker|"When an idealist...|    Caleb Vetter|Wesley Elder, Chr...|2016|               94|   5.5|  1427|              null|     44.0|
| 329|          Green Room|A punk rock band ...| Jeremy Saulnier|Anton Yelchin, Im...|2015|               95|     7| 62885|              3.22|     79.0|
| 239|The Grand Budapes...|The adventures of...|    Wes Anderson|Ralph Fiennes, F....|2014|               99|   8.1|530881|             59.07|     88.0|
| 495|      Under the Skin|A mysterious youn...| Jonathan Glazer|Scarlett Johansso...|2013|              108|   6.3| 94707|              2.61|     78.0|
+----+--------------------+--------------------+----------------+--------------------+----+-----------------+------+------+------------------+---------+
only showing top 20 rows

## Creating a User Defined Function

In [185]:
def concat_shell(column):
    return column + "_shell"

In [186]:
concat_shell("tes")

'tes_shell'

### Registering the User Defined Function to PySpark

In [187]:
my_uds = udf(concat_shell,StringType())

### Using the User Defined Function

In [188]:
testDf = df.withColumn("new_col",my_uds(col("Title")))

In [189]:
testDf.select("new_col").show()

+--------------------+
|             new_col|
+--------------------+
|The House Bunny_s...|
|       Ant-Man_shell|
|  Tomorrowland_shell|
|         Taken_shell|
|Suite Française_s...|
|    Knocked Up_shell|
|           Joy_shell|
|The Huntsman: Win...|
|        Looper_shell|
|      The Town_shell|
|        Detour_shell|
|We Are Your Frien...|
|  Blood Father_shell|
|Secret in Their E...|
|X-Men: Apocalypse...|
|Hunt for the Wild...|
|      Stardust_shell|
|The Girl with the...|
|Couples Retreat_s...|
| Sausage Party_shell|
+--------------------+
only showing top 20 rows

## Caching

In [190]:
 CDf = spark.read.option("inferSchema",True).option("header",True).csv(SRC)

In [191]:
CDf.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Title: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Director: string (nullable = true)
 |-- Actors: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Runtime (Minutes): string (nullable = true)
 |-- Rating: string (nullable = true)
 |-- Votes: string (nullable = true)
 |-- Revenue (Millions): double (nullable = true)
 |-- Metascore: double (nullable = true)

In [194]:
CDf = CDf.cache()

23/09/22 08:33:57 WARN CacheManager: Asked to cache already cached data.

# Joins in PySpark